/*  your css code here. If applicable */
.container{
	width:100%;
	border:2px solid black;
	border-radius:10px;
	padding:20px;
	text-align:center;
	
}

.green{
	height:200px;
	width:200px;
	border-radius:50%;
	background-color:yellow;
	display:inline-block;
}
.yellow{
	height:200px;
	width:200px;
	border-radius:50%;
	background-color:red;
	display:inline-block;
}
.red{
	height:200px;
	width:200px;
	border-radius:50%;
	background-color:green;
	display:inline-block;
	
}

